body {
  margin: 0px;
}

.page {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.layout {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  text-align: center;
}

.home,
.home-image {
  display: inline-block;
  vertical-align: middle;
}

.home {
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 50px;

  width: 100%;
  padding: 0 32px;
  box-sizing: border-box;

  border: 1px solid rgb(150, 150, 150);
}

.button-row {
  text-align: center;
}

.button-row button {
  display: inline-block;

  margin: 10px;
  margin-right: 15px;
  margin-left: 15px;

  background-color: black;
  color: rgb(209, 182, 32);

  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;

  border-radius: 10px;
  border: 2px solid black;
  border-color: black;

  cursor: pointer;
  font-family: system-ui;
  transition: background-color 0.2s;
}

.button-row button:hover {
  opacity: 0.85;
}

.button-row button:active {
  opacity: 0.8;
}

p {
  font-family: system-ui;
}

.homepage-title {
  font-size: 30px;
}

.home-image img {
  width: 300px;
  height: auto;
}
