/* Page centering (no flexbox) */
.page {
  height: 100vh;
  width: 100%;
  display: table;
}

.layout {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

/* Side-by-side sections */
.home,
.home-image {
  display: inline-block;
  vertical-align: middle;
}

/* Home content */
.home {
  text-align: center;
}

/* Button row */
.button-row {
  text-align: center;
}

/* Buttons */
.button-row button {
  display: inline-block;

  margin: 10px;
  margin-right: 15px;
  margin-left: 15px;

  background-color: black;
  color: rgb(209, 182, 32);

  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;

  border-radius: 10px;
  border: 2px solid black;
  border-color: black;

  cursor: pointer;
  font-family: system-ui;
  transition: background-color 0.2s;
}

.button-row button:hover {
  opacity: 0.85;
}

.button-row button:active {
  opacity: 0.8;
}

/* Typography */
p {
  font-family: system-ui;
}

.homepage-title {
  font-size: 30px;
}

/* Image sizing */
.home-image img {
  width: 300px;
  height: auto;
}
