body {
  margin: 0px;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 90px;
}

.layout {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  text-align: center;
}

.home,
.home-image {
  display: inline-block;
  vertical-align: middle;
}

.home {
  text-align: center;
}

.header {
  position: fixed;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: black;
  height: 56px;

  width: 100%;
  max-width: 900px;

  padding: 0 32px;
  border-radius: 999px;
  border: 1px solid rgb(150, 150, 150);

  z-index: 1000;
}



.Left-header img {
  height: 66px;
  width: auto;
}


.Right-header {
  color: #B4975A;
  border-radius: 10px;
  padding: 2px 12px; 

  border: 2px solid #B4975A;
  cursor: pointer;
  font-size: 14px;
  display: inline-flex;
  align-items: center;

}


.button-row {
  text-align: center;
}

.button-row button {
  display: inline-block;

  margin: 10px;
  margin-right: 15px;
  margin-left: 15px;

  background-color: black;
  color: #B4975A;

  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;

  border-radius: 10px;
  border: 2px solid black;
  border-color: black;

  cursor: pointer;
  font-family: system-ui;
  transition: background-color 0.2s;
}

.button-row button:hover {
  opacity: 0.85;
}

.button-row button:active {
  opacity: 0.8;
}

p {
  font-family: system-ui;
}

.homepage-title {
  font-size: 30px;
}

.home-image img {
  width: 300px;
  height: auto;
}
